/* **** Overload IONIC CSS **** */
input::-webkit-input-placeholder {
  color: #FFFFFF ;
}
input:-moz-placeholder {
  color: #FFFFFF ;
}
input:-ms-input-placeholder { /* IE10+ */
  color: #FFFFFF ;
}
.padding {
    padding: 20px;
}
.center{
    text-align:center;
    margin: 0px auto;
}
.title-image {
    margin-top: 8px;
    height: 27px;
}
.title{
    text-align:center;
    color: white;
}
.item {
    color: #7A8189;
}
.item.item-input {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
.item.item-toggle {
    background-color: transparent;
    border: none;
}
.button {
    border-radius: 30px;
    border: 4px solid;
}
.button:hover {
    border-radius: 30px;
    border: 4px solid;
}
.button.button-assertive.button-outline {
    color: #FFFFFF;
}
.button.button-calm.button-outline {
    color: #FFFFFF;
}
.button.button-calm {
    color: #FFFFFF;
    border-color: #00ADEE;
}
.button.button-calm:hover {
   border-color: #00ADEE;
}
.pane{
    background-color: #F4F4F4;
}
.uppercase {
    text-transform: uppercase; 
}
.validation-valid
{
    display: none;
}
.radio-content {
    background-color: #2196F3;
    color: white;
    text-align:center;
    border-radius: 30px;
}
.radio-content:input[type="radio"]:checked
{
    background-color: #4779A7; 
}
.nav-bar-block, .bar {
    background-color: transparent;
    border: none;
    color: #7A8189;
}
.bar .button.back-button, .bar button.back-button {
    border: none;
    background-color: transparent;
    color: #7A8189;
}
.button-bar > .button{
  border: 1px solid #cfcfcf;
}

.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
    border-radius: 20px 0px 0px 20px !important;
}


/* **** Own CSS **** */
@font-face {
    font-family: 'Montserrat Regular';
    src: url('/main/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('/main/assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald Medium';
    src: url('/main/assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p, h1, h2, h3, h4, h5, h6, a, span, body, html {
    font-family: 'Montserrat Regular', Helvetica,sans-serif;
    color: #7A8189;
}
body{
    background-color:black;
}
a {
    text-decoration: none;
    color: #7A8189
}
a:hover {
    text-decoration: none;
    color: #393C40
}
input {
   color: white !important;
}
input.ng-invalid {
    border-bottom-color: red;
}
input:focus.ng-invalid {
    border-bottom-color: red;
}

/* *** DYWOS STYLE *** */
.dywos input:focus {
    border-color: #1E81DC;
    width: 90%;
}
.dywos input {
    border-bottom: 1px solid rgb(221,221,221);
    width: 90%;
}
.error p {
    color: red;
}


/* *** LOGIN STYLE *** */
.login {
    background:url('/main/assets/images/bg_login.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.login::-webkit-input-placeholder {  
   text-align: center;
}

.login:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}
.login::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}
.login:-ms-input-placeholder {  
   text-align: center; 
}
.login input {
    text-align: center;
}

/* *** REGISTER STYLE *** */
.register {
    background:url('/main/assets/images/bg_login.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #F3F3F3;
}
/*
.register p, h1, h2, h3, h4, h5, h6, a, body, html {
    color: #F3F3F3;
}
*/


