<ion-view class="dywos register">
  <ion-nav-bar >
    <ion-nav-back-button>
      <i class="ion-chevron-left"></i>
    </ion-nav-back-button>
    <ion-nav-title class="title">
      <span>{{'register.register' | translate}}</span>
    </ion-nav-title>
  </ion-nav-bar> 
  <ion-content class="">
    <ion-spinner ng-if="data.loading" class="spinner-on-load"></ion-spinner>
    <div class="row form-wrapper">
      <div class="col">      
        <form name="signUpForm" novalidate ng-submit="signupEmail(signUpForm)" >
          <div class="list">
            <label class="item item-input split-view-input">
              <input type="text" placeholder="{{'register.firstname' | translate}}"  name="firstName" ng-model="user.firstName" required>
            </label>
            <label class="item item-input split-view-input">
              <input type="text" placeholder="{{'register.lastname' | translate}}"  name="lastName" ng-model="user.lastName" required>
            </label>
            <label class="item item-input split-view-input">
              <div class="button-bar padding">
                <a grouped-radio="'M'" ng-model="user.gender">{{'register.gender.male' | translate}}</a>
                <a grouped-radio="'F'" ng-model="user.gender">{{'register.gender.female' | translate}}</a>
              </div>
            </label>
            <label class="item item-input">
              <input type="email" placeholder="{{'register.email' | translate}}" name="email" ng-model="user.email" required>
            </label>
            <label class="item item-input">
              <input type="date" placeholder="{{'register.birthdate' | translate}}" name="birthdate" ng-model="user.birthdate" required >
              <input datepicker-popup is-open="focus" ng-focus="openDatePicker()" />
            </label>
            <label class="item item-input">
              <input type="text" placeholder="{{'register.username' | translate}}" name="username" ng-model="user.username" required>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="{{'register.password' | translate}}" name="password" ng-model="user.password" required show-hide-input>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="{{'register.password.confirm' | translate}}" name="passwordConfirm" required show-hide-input>
            </label>          
          </div>
          <!--
          <p ng-if="error" class="message error"> {{error}}</p>
          <div class="error-container" 
            ng-if="(signUpForm.password.$invalid || emailForm.password.$error.minlength || signUpForm.email.$invalid || signUpForm.firstName.$invalid || signUpForm.lastName.$invalid) && signUpForm.submitted">
            <small class="message error" 
                    ng-if="signUpForm.email.$error.required">
                    {{'EMAILADDREQ' | translate}}
            </small>
            <small class="message error" 
                    ng-if="signUpForm.password.$error.minlength">
                    {{'PASSMUST' | translate}}
            </small>
            <small class="message error" 
                    ng-if="signUpForm.firstName.$error.required">
                    {{'FIRSTREQ' | translate}}
            </small>
            <small class="message error" 
                    ng-if="signUpForm.lastName.$error.required">
                    {{'LASTREQ' | translate}}
            </small>
          </div>
          -->
          <button type="submit" class="button button-full button-calm" ng-class="{'pseudo-disabled':signUpForm.$invalid}">
            {{'register.register' | translate}}
          </button>
         
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
